/**********************
  Navigation Styles
**********************/

.banner {
  height: 50px;
}

.nav > li {
  display: inline-block !important;
}

nav.navbar-right {
  margin-right: 0;
}

ul.navbar-right {
  margin-right: 10%;
}

.navbar-inverse {
  background-color: #0ea474 !important;
  a {
    color: #fff !important;
    font-size: 3rem;
  }
  border: none;
}
