/**********************
  Front Page Styles
**********************/

  h1 {
    text-align: center;
    color: #0ea474;
  }
  h2 {
    text-align: center;
    color: #fff;
  }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 63vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

/* =======================
  Class Buttons
=========================*/

.class-button {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  width: 25vw;
  height: 25vw;
}

.row .class-button:nth-child(1) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/class-button-01.jpg');
  &:hover {
    background: url('../images/class-button-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.row .class-button:nth-child(2) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/class-button-02.jpg');
  &:hover {
    background: url('../images/class-button-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.row .class-button:nth-child(3) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/class-button-03.jpg');
  &:hover {
    background: url('../images/class-button-03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.row .class-button:nth-child(4) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/class-button-04.jpg');
  &:hover {
    background: url('../images/class-button-04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-size: cover;
}


/* ============================================================
  Parallax
============================================================ */

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
}

section.module p {
  margin-bottom: 40px;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 25vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../images/parallax.jpg");
}
